@import './variables.scss';
@import './reset.scss';
@import './common.scss';
@import './fonts.scss';
@import './themes.scss';

.nav {
  display: flex;
  gap: 25px;
  min-height: 100px;
  align-items: center;

  &__link {
    color: $WHITE;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    position: relative;

    &:visited {
      color: $WHITE;
    }

    &:hover {
      color: $BASE_TEXT;
    }

    &:active {
      color: $WHITE;
    }

    &.active {
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        top: -50px;
        left: -63px;
        width: 70px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('@/assets/images/spanch.gif');

        @media screen and (min-width: $TABLET) {
          top: -10px;
          left: -7px;
        }
      }
    }
  }
}

.primary-title {
  color: $BASE_TEXT;
}

.secondary-title {
  color: $BASE_TEXT;
}

.base-text {
  color: $BASE_TEXT;
  transition: 0.3s ease-in-out;
}

.base-link {
  color: $WHITE;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:visited {
    color: $WHITE;
  }

  &:hover {
    color: $BASE_TEXT;
  }

  &:active {
    color: $WHITE;
    font-weight: bold;
  }
}